<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="mwSqlConnection.ConnectionString" value="data source=(local);initial catalog=MediaWatch;integrated security=SSPI" />
	</appSettings>
</configuration>